[Unit]
Description=rgbd, a daemon for controlling an RGB strip.
Wants=dbus.service

[Service]
Type=exec
PIDFile=/tmp/rgbd.pid
ExecStart=%h/.local/share/rgbd/daemon/rgbd start --config %h/.config/rgbd/%i.json
ExecStop=%h/.local/share/rgbd/daemon/rgbd stop --config %h/.config/rgbd/%i.json
KillMode=mixed
Restart=on-failure

[Install]
Alias=rgbd.target
WantedBy=default.target
